@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

$font-family-base: "Noto Serif", serif;
$primary: #b06230;
$secondary: #052f69;
$gradient-light: (
  "background": linear-gradient(45deg, #0d0301, #064884),
  "color": white,
);

body {
  background: linear-gradient(65deg, #0d0301, #052f69);
  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
  overflow-x: hidden;
}
.button-icon {
  height: 32px;
  width: 32px;
}

.home-container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
}

.bible-img {
  max-width: 100vw;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.home-text {
  position: absolute;
  top: 25%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  animation: appear 5s linear forwards;
  animation-timeline: view();
  animation-range: entry 0;
  color: white;
  text-align: center;
}

@media (max-width: 600px) {
  .home-text {
    font-size: 1rem;
    top: 5%;
  }
}

.linebreak {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  font-size: 3rem;
  color: white;
  border-bottom: solid black 3px;
}

.oversea-works {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.button-support {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.AllPost-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100vw;
  gap: 60px;
}

.allPost-idv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 20px;
  padding: 1rem;
  height: auto;
  border-radius: 8px;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100vw;
  margin: 0 auto;
}

.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
  height: 25vw;
  max-width: 500px;
  width: 90vw;
  color: white;
}

.bible-logo {
  display: flex;
  justify-content: end;
  width: 8rem;
}

.createUpdatepost-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 100vw;
  color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: $primary solid 1px;
  color: white;
}

.button-editpost {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
  text-align: center;
}

.button-icon-edit {
  width: 2rem;
  height: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-icon-edit-chapter {
  width: 2rem;
  height: 15px;
  display: inline-block;
}

.iframe-applecards {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vw;
}

.create-comment {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  top: 0%;
  margin: 0 auto;
  max-width: 100%;
  width: 100vw;
  max-height: 100%;
  height: 100vw;
  padding: 1rem;
  gap: 4px;
}

.aboutus-container {
  height: 100vw;
  width: 100vw;
  color: white;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.aboutus-img {
  width: 100%;
  display: block;
  height: auto;
}

.aboutus-p {
  position: absolute;
  font-size: 2rem;
  text-shadow: 1px 1px 5px #b06230;
  top: 100%;
  left: 5%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
}

.h2Img-container {
  position: relative;
  width: 100%;
}

.aboutus-header {
  position: absolute;
  font-size: 4rem;
  text-shadow: 1px 1px 5px #b06230;
  top: 10%;
  left: 5%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
}

.img-faq {
  width: 100%;
  display: block;
  height: auto;
}

.pImg-container {
  position: relative;
  width: 100%;
}

.faq-p {
  position: absolute;
  top: 10%;
  left: 2%;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 5px #b06230;
}

.bible-reading {
  color: white;
}

.book-name {
  font-size: 2rem;
}

.bible-reading-selection {
  max-height: 200px;
  max-width: 200px;
  margin: 0 auto;
}

.bible-reading-container {
  max-width: 100%;
  width: 100vw;
  max-height: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.bible-reading-content {
  color: white;
  margin: 15px;
}

.profile-photo {
  border-radius: 50%;
}

.offcanvas-profile {
  background: linear-gradient(180deg, #0d0301, #064884);
}

.offcanvas-details {
  color: white;
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
